@model Ape.Models.ViewModels.FolderTreeNode
@using Ape.Models

@{
    var canManage = ViewData["CanManageFolders"] as bool? ?? false;
}

<li data-folder-id="@Model.FolderId">
    <div class="folder-tree-item @(Model.IsSelected ? "selected" : "") @(Model.AccessLevel > DocumentAccessLevel.Member ? "folder-restricted" : "")">
        @if (canManage)
        {
            <span class="folder-drag-handle" title="Drag to reorder">&#9776;</span>
        }
        @if (Model.Children.Any())
        {
            <span class="folder-toggle" onclick="toggleFolderNode(this)">@Html.Raw(Model.IsExpanded ? "&#9660;" : "&#9654;")</span>
        }
        else
        {
            <span class="folder-toggle">&nbsp;</span>
        }
        <span class="folder-icon">
            @if (Model.AccessLevel > DocumentAccessLevel.Member)
            {
                <span>&#128274;</span>
            }
            else
            {
                <span>&#128193;</span>
            }
        </span>
        <a href="@Url.Action("Browse", "Document", new { folderId = Model.FolderId })" title="@Model.Name">
            @Model.Name
        </a>
    </div>
    @if (Model.Children.Any())
    {
        <ul class="sortable-folders @(Model.IsExpanded ? "" : "d-none")" data-parent-id="@Model.FolderId">
            @foreach (var child in Model.Children)
            {
                <partial name="_FolderTreeNode" model="child" view-data="ViewData" />
            }
        </ul>
    }
</li>

<script>
    function toggleFolderNode(toggleElement) {
        const listItem = toggleElement.closest('li');
        const childList = listItem.querySelector(':scope > ul');
        if (childList) {
            childList.classList.toggle('d-none');
            // Update the toggle arrow
            toggleElement.innerHTML = childList.classList.contains('d-none') ? '&#9654;' : '&#9660;';
        }
    }
</script>
